* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: #2c2c2c;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-height: 40px;
    background-color: #53b0fd18;
    text-transform: uppercase;
    margin-bottom: 10vh;
}

.stacks .title {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.5rem;
}

a {
    /* padding-right: 50px; */
    font-weight: bolder;
    height: 20px;
}

button {
    padding: 20px;
    border: none;
    font-weight: bolder;
    color: #2c2c2c;
    background-color: unset;
}

button:hover {
    cursor: pointer;

}

.profile button {
    background-color: white;
    border-radius: 15px;
    width: 200px;
    margin-top: 40px;
    font-size: 1.2rem;
    margin-bottom: 40px;
    box-shadow: 1px 2px 9px -1px rgba(99, 99, 99, 0.185);
    text-transform: uppercase;
}

.button-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile button:hover {
    cursor: pointer;
    background-color: #d6d6d6;
}

.foto {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    /* animation: pulse; */
    transition: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    /*velocidade que anim.*/
    box-shadow: 3px 2px 11px 1px rgba(99, 99, 99, 0.39);

}

.dino {
    height: 100px;
    width: 100px;
    animation: pulse;
    transition: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-duration: 5s;
    /*velocidade que anim.*/


}

.div-dino {
    height: 80px;
}

.background_foto {
    display: flex;
    background-color: #f3f3f3;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.dev-icons {
    min-height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    gap: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.profile {
    height: 500px;
    background-color: #53b0fd18;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

h1 {
    margin-top: 100px;
}

.text {
    font-size: 1rem;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.title {
    font-weight: bolder;
    font-size: 3rem;
}

.stacks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-top: 130px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 20px;
}

h2 {
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 80px;
}

footer {
    display: flex;
    background-color: #53b0fd18;
    justify-content: center;
    align-items: center;
    padding: 22px;
    margin-top: 22px;
}



/*responsive*/
@media (max-width: 1080px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .profile {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        height: 100%;

    }

    .profile button {
        margin: 20px;
        margin-bottom: 50px;
    }

    .foto {
        height: 220px;
        width: 220px;
    }

    .background_foto {
        background-color: white;
        padding: 40px;
    }

    .menu {
        width: 100%;
        justify-content: center;
        margin-bottom: 0;
    }

    .dev-icons {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 3fr;
        min-width: 450px;
        gap: 15px;
    }

    a {
        height: 55px;
    }
    .footer{width: 100%;}
}


@keyframes pulse {
    0% {
        transform: rotate(0deg);
        height: 35px;
        width: 35px;

    }

    50% {
        transform: rotate(1080deg);
        height: 80px;
        width: 80px;
    }

    100% {
        transform: rotate(0deg);
        height: 35px;
        width: 35px;
    }
}

.fa {
    padding: 25px;
    font-size: 30px;
    width: 25px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;

}

.fa:hover {
    opacity: 0.7;
}

.fa-github {

    background: #505050;
    color: white;
    font-size: x-large;
    border-radius: 50%;
}
.fa-linkedin {

    background: #505050;
    color: white;
    font-size: x-large;
    border-radius: 50%;
}

.fa-instagram {
    background: #505050;
    color: white;
    font-size: x-large;
    border-radius: 50%;
}

.fa-facebook {
    background: #505050;
    color: white;
    font-size: x-large;
    border-radius: 50%;
}
/*version 1.2.1*/